body {
    margin: 0;
    padding: 0;
    background: rgb(99, 99, 99);
    background: radial-gradient(circle, rgba(99, 99, 99, 1) 61%, rgba(167, 167, 167, 1) 100%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 900px;
    height: 670px;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(157, 157, 157);
    position: relative;
    border-radius: 20px;
}

.header {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 30px; 
    margin-bottom: 10px; 
    position: absolute;
    top: 0;
    left: 0;
}

.header_caption {
    font-size: 25px;
    color: lightgrey;
}

.center {
    width: 90%;
    height: 45%;
    border-radius: 20px;
    background-color: gray;
    margin-left: 40px;
    position: absolute;
    top: 190px;
    left: 0;
    display: flex;
    justify-content: center;
}
.user_img{
    width: 35px;
    height: 35px;
}
.table_head{
    padding: 30px;
    color:lightgrey;
}

.footer {
    width: 90%;
    height: 20%;
    border-radius: 20px;
    background-color: gray;
    position: absolute;
    margin-left: 40px;
    top: 520px;
    left: 0;
}
.table_time{
    color:lightgrey;
    font-size: 15px;
}
.table_text{
    padding-left: 30px;
    color:lightgrey;
    font-size: 15px;
}
.foote_caption{
    color:lightgrey;
    font-size: 18px;
    margin-left: 240px;
}
.button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 300px;
    background-color: rgb(112, 112, 112); 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    transition: 0.3s;
    border-radius: 20px;
}
.button:active{
    background-color: rgb(103, 103, 103);
}
.button_link{
    text-decoration: none;
    color:lightgray;
}